.browser {

  position: relative;

  & > div {

    position: absolute;
    top: 0px;
    width: 100%;

    &.gridControls {
      height: 4em;
      z-index: 100;
    }

    &.grid {
      padding-top: 4em;
      height: 100%;
      clear: both;
      z-index: 0;
    }

  }
}
