.CMDComponent, .componentInsertionTarget {
  display: inline-block;
  float: left;
  clear: both;

  min-width: 40em;
  margin: .5em 2em;

  &.open {
    border-left-width: 4px;
  }
  &.linked {
    .panel {
      border-width: 1px;
      border-color: #999;
      border-style: dashed;
    }
  }

  a.componentLink {
    color: #000099;
  }
}

.componentName, .componentLink {
  font-weight: bold;
}


/* The animation code */
@keyframes pulse {
    0%   {background-color: inherit;}
    50%  {background-color: #ccc;}
    100% {background-color: inherit;}
}

.componentInsertionTarget {
  margin-left: 3em;
  padding: .5em;
  border: 1px dashed #999;
  width: auto;
  //pulse
  animation-name: pulse;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

#editor {
  .CMDComponent.selected {
    background: #f9f9f9;
    border-top: #000 solid 2px;
    padding-top: 2px;

    &, &:hover {
      border-left: 3px solid #333;
    }
  }
}
