.CMDElement {

  display: inline-block;
  float: left;
  clear: both;

  min-width: 40em;
  margin: .5em 2em;

  a.elementLink {
    color: #000099;
  }

  .valueScheme {

    & > .form-group {
      display: inline-block;
      width: 60%;
    }
  }

  .valueScheme, .elemAttrs li {
      span {
        display: inline-block;

        &.attrLabel {
          width: 40%;
          text-align: right;
          padding-right: 1em;
        }

        &.attrValue {
          width: 60%;
        }
      }
  }
}

.elementName, .elementLink {
  font-weight: bold;
}
