// $bottomPaneHeight: 345px;
// $gridHeight: 380px;
// $tabContentHeight: 300px;
//
// .browser {
//   padding: 8px;
// }
//
// .viewer {
//   padding: 8px;
//   min-height: $bottomPaneHeight;
//   overflow-x: hidden;
//   overflow-y: hidden;
// }
//
// .viewer .tab-content {
//   height: $tabContentHeight;
//   overflow-y: auto;
// }
//
#editor {
  margin-top: 1em;
  height: 100%;
  background: #fff;
  color: #999;
  overflow: auto;
  padding-bottom: 4em;
}

// .editor .ComponentViewer {
//   overflow-x: hidden;
//   overflow-y: auto;
// }
//
// .editor .component-grid {
//   overflow: hidden;
// }
//
// .editor .actionMenu.btn-group {
//   padding: 8px;
// }
