.ComponentViewer > ul {
  list-style: none
}
.componentBody {
  padding-left: 25px;
}
.elemAttrs {
  padding-left: 25px;
}
.componentLink:hover {
  text-decoration: underline
}
.edit-mode .hide-field {
  display: none
}
.publish-modal-body {
  padding: 15px
}
.publish-modal-footer {
  margin: 0 auto;
  text-align: center;
}
.publish-modal-footer .btn-primary {
  margin-right: 20px
}
