.ComponentViewer {
  min-height: 300px;
}
.ComponentViewer > ul {
  list-style: none
}
.componentBody {
  padding-left: 25px;
}
.elemAttrs {
  padding-left: 25px;
}
.controlLinks a, .addComponent a, .addElement a {
  color: blue;
}
.edit-mode .hide-field {
  display: none
}
.ComponentViewer {
  position: relative;
}
