td.add .btn:focus {
  outline: 0 none;
}

tr.even.selected {
  background-color: #b0bed9 !important;
}

tr.odd.selected {
  background-color: #a0aec9 !important;
}

tr.odd.deleting, tr.even.deleting {
  color: #ddd;
  background: #eee !important;
}

// todo
// http://stackoverflow.com/questions/17067294/html-table-with-100-width-with-vertical-scroll-inside-tbody
// or http://stackoverflow.com/questions/21168521/scrollable-table-with-fixed-header-in-bootstrap

table {
    display: block;
    /*height: 200px;*/
    width: 100%;
    border-bottom: 1px solid #ccc;
}

thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead tr {
    //compensate for scrollbar in tbody
    margin-right: 1em;
}

thead th {
    height: 30px;
    text-align: left;
}

tbody {
    height: 250px;
    overflow-y: scroll;
}

thead {
    /* fallback */
}

tbody td, thead th {
    width: 14%;
    float: left;
    height: 3em;
    line-height: 3em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

tbody td.name, thead th.name {
  width: 20%;
}

tbody td.commentsCount, thead th.commentsCount {
  width: 10%;
}
