.EditorDialog {
  border: 1px dashed #f00;
}
.modal-body {
  padding: 0;
}
.tab-content {
  padding: 0;
}
.modal-body .tab-pane {
  padding: 1px;
}
.modal-body nav, .modal-body .form-group {
  margin-top: 3px;
}
.modal-body .input-group {
  margin: 15px;
}
.modal-desc {
  padding: 15px;
}
.modal-footer {
  margin: 0 auto;
  text-align: right;
}
.modal-footer .btn-primary {
  margin-right: 20px;
}
.modal-open .modal {
   overflow-x: visible;
   overflow-y: visible;
}
.modal, .modal-backdrop {
  position: absolute;
  overflow: hidden;
}
.modal-inline {
  text-align: right;
  padding-right: 10px;
  padding-bottom: 10px;
}
.registry-dialog .modal-body, .type-dialog .modal-body {
  min-height: 170px;
}
.registry-dialog .modal-dialog {
  min-width: 750px;
}
.registry-dialog .modal-body {
  padding-left: 1px;
  width: 748px;
}
#typeTable tfoot td:first-child {
  cursor: pointer;
}
#typeTable thead, #ccrTable thead {
  display: block;
}
#typeTable tr, #typeTable tbody, #typeTable tfoot, #ccrTable thead tr, #ccrTable tbody {
  display: block;
}
#typeTable tbody, #ccrTable tbody {
  height: 130px;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
}
#typeTable th, #typeTable td {
  display: inline-block;
  width: 32%;
  line-height: 1.4em;
  min-height: 24px;
  word-wrap: break-word;
  overflow: hidden;
}
#ccrTable {
  margin-bottom: 30px;
}
#ccrTable th, #ccrTable tr {
  cursor: pointer;
}
#ccrTable tr.selected {
  background-color: #b0bed9;
}
#ccrTable thead {
  border-bottom: 1px solid #ddd;
}
#ccrTable th {
  border-bottom: 0;
}
#ccrTable th, #ccrTable td {
  display: inline-block;
  width: 106.278px;
  line-height: 1.6em;
  min-height: 28px;
  font-size: 0.8em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#ccrTable.with-scroll th, #ccrTable.with-scroll td {
  width: 104.285px;
}
#typeTable tfoot td:last-child {
  width: 68%;
}
#typeTable th:last-child, #typeTable td:last-child {
  width: 4%;
}
#ccrTable th.sort-asc, #ccrTable th.sort-desc {
  background-color: yellow;
}
