#commentsTab {

  .comment {
  padding: .5em 1em;
  max-width: 80em;

  .comment-name, .comment-date {
    font-weight: bold;
  }

  .comment-comments {
    max-width: 60em;
    border-top: 1px solid;
    margin: 0;
    padding-top: .5em;
    font-size: 110%;
  }

  a.delete {
    color: red;
    text-decoration: none;

    &:hover {
      color: black;
    }
  }

  }
}
