#commentsTab {

  .comment {
  padding: .5em 1em;
  max-width: 80em;

  .comment-name, .comment-date {
    font-weight: bold;
  }

  .comment-comments {
    max-width: 60em;
    border-top: 1px solid;
    margin: 0;
    padding-top: .5em;
    font-size: 110%;
  }

  input.delete {
    border: 1px solid;
    background: #fff;
    display: block;
    float: right;
    max-width: 20em;

    &:hover, &:active {
      background: #f99;
    }
  }

  }
}
