/* Stiziles */
html {
  height: 90%;  
}

body, #app, #app-main, #app-root, .main {
  background: #fff;
  height: 100%;
}

.wait, .wait * {
   cursor:wait !important;
}

div {
  margin: 0;
}

a { cursor: pointer; color: #999; }


.left {
  float: left;
}

/* main */
.auth-login {
  position: absolute;
  top: 6px;
  right: 6px;
}

.page-header {
  position: absolute;
  top: 0;
  margin: 0;
  margin-left: 8px;
  height: 60px;
  height: 10%;
}

.main {
  height: 100%;
  margin-top: 60px;
  background: #fff;
  color: #999;
  overflow: hidden;
}

.static-modal {
  color: #000;
}

.auth {
  margin-top: 60px;
}

.auth .message {
  padding: 16px;
}

.space_selector.btn-group {
  margin: 8px;
}

.actionMenu.btn-group {
  overflow: hidden;
  margin: 8px;
}

.space_selector .dropdown-menu li.selected {
  background-color: #337ab7;
}

.react-draggable .modal-header, .cursor {
  cursor: move;
}

.modal-open {
  overflow: visible;
}

/*
.main .browser {
  max-height: 200px;
  overflow-y: auto;
}


.registry_item {
  margin-top: 20px;
  padding-left: 20px;
  background: #eee;
}*/
